/* Fonts
----------------------------------------*/
$font-arial: 'Arial Black', Arial, 'sans serif';
$font-roboto-slab: roboto_slab,'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

/* Breakpoints
----------------------------------------*/

$breakpoint-s:400px;
$breakpoint-m:600px;
$breakpoint-l:800px;
$breakpoint-xl:1000px;
$breakpoint-xxl:1200px;

/* Colors
----------------------------------------*/

$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-primary: rgb(255,228,0);
$color-secondary: rgb(0,255,0);
$color-tertiary: rgb(0,0,255);