/* Generic lists
----------------------------------------------- */
ul,
ol,
dl {
  list-style:none none outside;
  margin:0 0 1.5em;
}

/* Unordered list
----------------------------------------------- */
ul,
ol {
  padding:0;

  > li {
    padding-left:1rem;
    position:relative;

    &:before {
      color:$color-primary;
      content:"•";
      left:0;
      position:absolute;
      top:0;
      text-align:right;
    }

  }

}

/* Ordered list
----------------------------------------------- */
ol {
  counter-reset:li;

  > li {
    counter-increment:li;
    padding-left:2rem;

    &:before {
      content:counter(li) '.';
      width:1.5rem;
    }

  }

}

/* Definition list
----------------------------------------------- */
dl {
  dt {
    font-weight:bold;
  }
}

/* Definition list
----------------------------------------------- */
.reset-list {
  list-style:none none outside;
  padding-left:0;
  > li {
    position:static;

    &:before {
      content:"";
      display:none;
    }

  }
}

/* Block list
 ----------------------------------------------- */

.block-list {
  > li {
    padding:.75em 0;
  }
}

/* Nav
 ----------------------------------------------- */
.nav {
  list-style:none none outside;
  margin-left:0;
  padding-left:0;

  > li,
  > li > a {
    display:inline-block;
  }

}

/* Link list
 ----------------------------------------------- */

.link-list {

  a {
    display:block;
    padding:.75em 0;
    text-decoration:none;

    &:focus,
    &:hover {

    }

  }

}


/* Border-list
----------------------------------------------- */
.border-list {
  border-bottom:1px solid rgba(0,0,0,.5);
  border-top:1px solid rgb(96,96,96);

  > li {
    border-top:1px solid rgba(0,0,0,.5);
  }

  > li {
    border-bottom:1px solid rgb(96,96,96);
  }

  &.border-list--block {
    > li {
      padding-bottom:.75em;
      padding-top:.75em;

      &:before {
        top:.75em;
      }
    }
  }

}

/* Inline list
----------------------------------------------- */
.inline-list {
  > li {
    display:inline;
  }
}