/* Import fonts
----------------------------------------------- */

@font-face {
  font-family: 'trajan';
  src: url('../assets/fonts/trajan.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Responsive baseline
----------------------------------------------- */

body {
  color:rgba($color-white,.8);
  font-family:$font-serif;
  font-size:75%; /* 12 */
  line-height:1.5;
  text-shadow:0 1px 0 rgb(0,0,0);
}

em,
.em {
  font-style:italic;
}

@include respond-min($breakpoint-xs){
  body {
    font-size:81.25%; /* 13 */
  }
}

@include respond-min($breakpoint-s){
  body {
    font-size:87.5%; /* 14 */
  }
}

@include respond-min($breakpoint-m){
  body {
    font-size:93.75%; /* 15 */
  }
}

@include respond-min($breakpoint-l){
  body {
    font-size:100%; /* 16 */
  }
}

@include respond-min($breakpoint-xl){
  body {
    font-size:112.5%; /* 18 */
  }
}

/* Add baseline class to the body for vertical rhythm
----------------------------------------------- */

.baseline {
  background-image:linear-gradient(top, #D7D7D7 0%, #D7D7D7 50%, #F2F2F2 50%, #F2F2F2 100%)!important;
  background-repeat:repeat;
  background-size:100% 1.5em;
  background-position:left top;

  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  ol,
  dl,
  label,
  p {
    background:rgba(255,0,0,.25);
  }

}

/* Headings
----------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
.alpha,
.beta,
.gamma,
.delta {
  color:$color-primary;
  font-family:$font-valentine;
  font-weight:100;
  margin-bottom:1.5rem;
  margin-top:0;
  position:relative;
}

h1,
.alpha {
  color:$color-primary;
  font-size:$font-size-alpha;
  line-height:$line-height-alpha;
}

h2,
.beta {
  color:$color-alpha;
  font-size:$font-size-beta;
  line-height:$line-height-beta;
}

h3,
.gamma {
  color:$color-alpha;
  font-size:$font-size-gamma;
  line-height:$line-height-gamma;
}

h4,
.delta{
  color:$color-alpha;
  font-size:$font-size-delta;
  line-height:$line-height-delta;
}

/* Paragraph
----------------------------------------------- */

p {
  margin:0 0 1.5em;
}

.small {
  font-size:$font-size-small;
  line-height:$line-height-small;
}

.xsmall {
  font-size:$font-size-xsmall;
  line-height:$line-height-xsmall;
}

.lead {
  color:rgba($color-white,.9);
  font-size:$font-size-delta;
  font-style:italic;
  line-height:$line-height-delta;

  @include respond-min($breakpoint-m){
    font-size:$font-size-gamma;
    line-height:$line-height-gamma;
  }

}

.center {
  text-align:center;
}

/* Links
----------------------------------------------- */

a {

  &:link {
    text-decoration:underline;
  }

  &:focus,
  &:hover {
    text-decoration:none;
  }

  &:visited {
  }

}

/* HR
----------------------------------------------- */

hr {
  border-width:1px 0;
  border-style:solid;
  border-bottom-color:rgba($color-black,.5);
  border-top-color:rgba($color-white,.5);
  height:1px;
  margin:1.5rem 0;
}

/* Images
----------------------------------------------- */

img {
  max-width:100%;
  vertical-align:bottom;
}

.text-overflow:focus {
  box-shadow:none;
  outline-width:0;
}

/* Text selection
----------------------------------------------- */

::selection {
  background:$color-primary;
  color:$color-white;
  
}

/* Links
----------------------------------------------- */
a {
  color:$color-primary;

  &:link,
  &:visited {
    text-decoration:underline;
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration:none;
  }

}

/* Images
----------------------------------------------- */
img {
  margin:0 0 1.5em;
  max-width:100%;
  vertical-align:bottom;
}

/* Blockquote
----------------------------------------------- */
blockquote {
  color:$color-white;
  font-size:$font-size-delta;
  font-style:italic;
  line-height:$line-height-delta;
  margin:0 0 1.5rem;
  quotes: "“" "”" "‘" "’";

  @include respond-min($breakpoint-m){
    font-size:$font-size-gamma;
    line-height:$line-height-gamma;
  }

  &:before {
    content:open-quote;
  }

  &:after {
    content:close-quote;
  }

}

.blockquote {
  background:rgba(0,0,0,.5);
  border-left:.25rem solid $color-primary;
  margin-bottom:1.5rem;
  padding:1.5rem;

  &:before,
  &:after {

  }

  blockquote {
    margin:0 0 1.5rem;
  }

  cite {
    color:$color-primary;
    font-family:$font-valentine;
    font-style:normal;
  }

}

/* DL
----------------------------------------------- */
dl {

  dt {
    color:$color-primary;
    font-family:$font-valentine;
    font-size:$font-size-xsmall;
    line-height:$line-height-xsmall;
    text-transform:uppercase;
  }

  dd {
    font-family:$font-valentine;
    margin-left:0;
    padding-left:0;

    + dt {
      margin-top:1.5rem;
    }

  }

}