<nav class="page-nav">
    <div class="wrapper">
        <h2 class="screenreader">Hoofdnavigatie</h2>
        <ul class="reset-list main-navigation" id="main-navigation">
            <li {% if page.id == 'bizarro-world' %}class="current"{% endif %}>
                <a href="{{ site.path}}/bizarro-world">Bizarro World</a>
            </li>
            <li {% if page.id == 'black-rain' %}class="current"{% endif %}>
            <a href="{{ site.path}}/black-rain">Black Rain</a>
            </li>
            <li {% if page.id == 'the-queen-album' %}class="current"{% endif %}>
                <a href="{{ site.path}}/the-queen-album">The Queen Album</a>
            </li>
            <li {% if page.id == 'live'%}class="current"{% endif %}>
                <a href="{{ site.path}}/live">Live</a>
            </li>
            <li {% if page.id == 'music'%}class="current"{% endif %}>
                <a href="{{ site.path}}/music">Music</a>
            </li>
            <li {% if page.id == 'contact'%}class="current"{% endif %}>
                <a href="{{ site.path}}/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>