iframe,
img {
  background:$color-black;
  border:.5rem solid $color-white;
  box-shadow:0 0 .5em rgba(0,0,0,.5);
  box-sizing:border-box;
  margin-bottom:1.5rem;
}

.tracklist {
  li {
    position:relative;
    a {
      font-size:$font-size-small;
      line-height:$line-height-small;
      margin-top:-.75rem;
      position:absolute;
      right:.75rem;
      text-decoration:none;
      top:50%;
    }
  }
}