.main-navigation {
  border-bottom:1px solid $color-delta;
  border-top:1px solid $color-delta;
  font-family:$font-valentine;
  font-size:$font-size-delta;
  line-height:$line-height-delta;
  list-style:none none outside;
  margin-bottom:3rem;
  padding-left:0;
  text-align:center;

  li {
    border-bottom:1px solid $color-delta;
    border-top:1px solid $color-delta;
    display:block;
    margin-top:-1px;
    padding:0;
  }

  .current,
  .current a {
    color:$color-primary;
  }

  a,
  span {
    color:$color-white;
    display:block;
    padding:.75rem;
    text-decoration:none;
  }

  span {
    color:$color-primary;
  }

}

@include respond-min($breakpoint-m){

  .page-nav {
    background:rgba(0,0,0,.75);
    border-bottom:.25em solid $color-primary;
    left:0;
    position:fixed;
    top:0rem;
    width:100%;
  }

  .main-navigation {
    @include gs-span(da, 1, 8, false, false);
    display:table;
    margin-bottom:0;
    width:100%;

    li {
      border-top-width:0;
      display:table-cell;
    }

  }

}

@include respond-min($breakpoint-xl){

  .main-navigation {
    font-size:$font-size-gamma;
    line-height:$line-height-gamma;
  }

}