/* HTML and body
---------------------------------------------------------*/

html,
body {
  height:100%;
  min-height:100%;
}

html {
  background:rgb(0,0,0) url("../assets/img/bg.jpg");
}

body {
  border-top:.25em solid $color-primary;
}

.section .wrapper {
  padding-bottom:3rem;
  padding-top:3rem;

  > *:last-child,
  > *:last-child > *:last-child,
  > *:last-child > *:last-child > *:last-child {
    margin-bottom:0;
  }

}

.page-content {
  min-height:100%;
}

/* Page footer
---------------------------------------------------------*/
.page-footer {
  background:rgba(0,0,0,.5);
  border-top:.25em solid $color-primary;
  color:$color-primary;
  font-family:$font-valentine;
  padding:1.5em 0;
  text-align:center;

  p + p {
    color:$color-white;

    a {
      color:$color-white;
      text-decoration:none;
    }
  }
}