/* HTML and body
---------------------------------------------------------*/

html,
body {
  height:100%;
  min-height:100%;
}

html {
  background:rgb(0,0,0) url("../assets/img/bg.jpg");
}

body {
  background:transparent url("../assets/img/bg1.jpg") no-repeat top center;
  border-top:.25em solid $color-primary;
  height:auto;
}

.img,
.aside {
  @include gs-span(da, 1, 3, false, false);
}

.content {
  @include gs-span(da, 4, 8, false, false);
  @include gs-pad(da, padinfull);
  background:rgba(0,0,0,.75);
  padding-bottom:1.5rem;
  padding-top:1.5rem;
}

.header {
  background:rgba(0,0,0,.25);
  border-color:rgba(0,0,0,.35);
  border-style:solid;
  border-width:1px 0;
  box-shadow:0 0 1.5em rgba(0,0,0,.25) inset;
  margin:1.5rem 0;
  padding:1.5rem;
  text-align:center;
  text-shadow:0 0 .5em rgba(0,0,0,.5), 0 0 1.5em rgba(0,0,0,.5);

  > h1 {
    color:$color-white;
    margin-bottom:0;
  }

  > h2 {
    color:$color-primary;
    margin-bottom:0;
  }

}

.box {
  position:relative;
}

.box--primary {
  background:rgba($color-primary,.25);
}

.box--light {
  background:rgba($color-black,.25);
}

.box--inner {
  padding:3rem;
}

.section .wrapper {
  padding-bottom:3rem;
  padding-top:3rem;

  > *:last-child,
  > *:last-child > *:last-child,
  > *:last-child > *:last-child > *:last-child {
    margin-bottom:0;
  }

}

.page-header {

  .wrapper {
    height:21rem;
    position:relative;
  }

}

.page-logo {

  img {
    background-color:transparent;
    border-width:0;
    margin-top:-1.5rem;
    position:absolute;
    top:50%;
    width:gs-width(da,1,2,false,true);
  }

}

.page-content {
  min-height:100%;
}

/* Page footer
---------------------------------------------------------*/
.page-footer {
  background:rgba(0,0,0,.5);
  border-top:.25em solid $color-primary;
  color:$color-primary;
  font-family:$font-valentine;
  padding:1.5em 0;
  text-align:center;

  p + p {
    color:$color-white;

    a {
      color:$color-white;
      text-decoration:none;
    }
  }
}